.title {
    font-size:30px;
    border-radius:10px;
    padding:5px;
    width:fit-content;
}

#title {
   text-align:center;
   margin:auto;
   margin-top:20px;
}
 body {
   font-family: 'Raleway', sans-serif;
   background-color:#607D8B;
   color:white;
   margin:20px;
}

.top-header {
   font-size: 46px;
   font-weight: bold;
   border-bottom: 2px #BDBDBD solid;
 }

.top-header {
   display: flex;
   justify-content: space-between;
  }
  
.header-link {
   text-decoration: none;
   font-size: 24px;
}

a {
   text-decoration:none;
   color:white;
}

a:hoover {
   text-decoration:none;
   color:gray;
}
  
 p {
    font-size:18px;
    text-decoration:none;
 }
 
nav {
   margin-top:20px;
   display:block;
   justify-content: space-between;
}

.card-container {
   display:flex;
   justify-content: space-evenly;
   margin-top:50px;
   color:black;
   text-align:center;
}

.cards {
   border: 5px solid #BDBDBD;
}

.cards:hover{
   border: 5px solid #009688;
}

#text-container {
   width: 800px;
   border-radius: 20px;
   background-color: #455A64;
   padding: 20px;
   margin:auto;
   margin-top:50px;
 }
 
 #special {
   margin:auto;
   text-align:center;
   margin-top:20px;
 }