{% extends "layout.html" %}
{% set page_title="Credits" %}

{% block heading %}

<h1 id="title">Credits</h1>

{% endblock %}

{% block content %}

<div id="text-container">

<p></p>
https://www.history.com/topics/native-american-history/the-narragansett
https://narragansettindiannation.org/history/early/
http://www.smplanet.com/teaching/colonialamerica/colonies/rhodeisland
https://www.thoughtco.com/rhode-island-colony-103880

</p>

</div>

<p id="special">I wasn't able to find much about their culture, only their food sources and conflict with colonists, etc. Sorry!</p>

{% endblock %}