{% extends "layout.html" %}
{% set page_title="Narragansett Natives" %}

{% block heading %}

<h1 id="title">Narragansett Native Americans</h1>

{% endblock %}

{% block content %}

<div id="text-container">
<p>
    The Narragansett Indians have resided in Rhode Island up to 30,000 years ago. The tribe originally inhabited the majority of Rhode Island before European settlers took over. The tribe was considered a warrior tribe and offered protection to smaller tribes in the region including the Wampanoag and the Niantic tribes. 

    The tribe typically had two types of houses, summer and winter houses. Depending on the seasons, they lived in either of these houses. They were an Algonquian-speaking tribe along with other tribes such as the Wampanoag, Niantic, and Nipmuc tribes. The Narragansett Indians were divided into 8 divisions. Each division was led by a chief, with all of these chiefs falling under a head chief or a sachem. They were a sedentary tribe, relying on farming and hunting for their food.

    The Narragansetts first came into Europan contact in 1635. In 1636, Rodger Williams acquired rights to Rhode Island from the Narragansett sachems (chiefs). The Narragansetts respected Rodger Williams, and for a long time, they remained on good terms with the colonists, and they even began to encourage settlers to come. This was mostly because of one of William’s beliefs. He believed settlers should compensate the Natives for their land instead of stealing land. He was renowned as a peacemaker among the Narragansetts.

    In 1636, a Boston trader was murdered on the shore of Southern Rhode Island. Colonists had reason to assume the Pequot tribe had murdered the trader. The Pequot tribe had been challenging the Narragansett tribe for control of Rhode Island. The Pequot tribe had been living peacefully with the colonists, but recently, tensions had begun to rise, with the murder becoming the release of all the built-up tension. The Massachusetts leaders sent a military campaign against the Pequot tribe, and in response, the Pequot tribe remained very defensive of their homeland. Thus beginning the Pequot War. Later on in the war, other Native tribes including the Mohegan and Narragansett tribes joined the settlers and created a surprise attack on the Pequot fort. 500-600 people residing inside the fort died, and everyone who fled was sold into slavery or placed under other native tribes. 

    King’s Phillip War came upon the Narragansett Tribe in 1675, among the Narragansetts and the settlers. Native American Tribes were protesting against continuous European expansion, and in December of 1675, the colonists lead a surprise attack against the Narragansetts. 700 women, children, and men were killed. This event would later be known as the Great Swamp Massacre.

    Following the massacre, the Narragansett war chief, Canochet, joined the Wampanoag tribe’s leaders against the colonists. In April 1676, the colonists defeated the Narragansetts and killed Canochet. The Tribe abandoned its homeland and fled to other tribes such as the Niantic.
</p>

</div>

{% endblock %}