{% extends "layout.html" %}
{% set page_title="Nipmuc Native Americans" %}

{% block heading %}

<h1 id="title">Nipmuc Native Americans</h1>

{% endblock %}

{% block content %}

<div id="text-container">

<p>
    The Nipmuc tribe lived in the central plateu of Massachusetts and later expanded into Northern Rhode Island and Connecticut. Like the Narragansetts, they were an Angloquien-speaking native group. They hunted, fished, and grew crops. Throughout the seasons, they moved around to fixed sites to be able to farm throughout all the seasons. Like the Narragansetts, they were divided into separate bands. These bands were based on the territory they presided over or groups of families. Each village was ruled by a sachem, a chief.

    Instead of all the tribes allying politically with themselves, they opted to align themselves with their neighbors such as the Wampanoag and Narragansetts. 
    
    During King Phillip’s war, they allied themselves against the colonists, to try to push them out. After losing the war, most of the tribe fled to Canada or other tribes.
    </p>

</div>

{% endblock %}